// color themes
// import color themes
@use "./utils/fonts.scss";
@use "./utils/colors.scss";
@use "./components/typography.scss";
@use "./Layout/AppLayout.scss";
@use "./components/story-container.scss";
@use "./components/TImeContainer.scss";
::selection{
  background-color: colors.$primary-light-2;
  color:#d8d1d1;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body{
  background:linear-gradient(
    to right,
    colors.$primary-base,
    colors.$secondary-base
  );
}

