
// ===================================================
// |                COLOR THEME REFERENCE            |
// ===================================================

// PRIMARY COLOR
// ---------------------------------------------------
$primary-base:      #5b2474;  // Primary Base
$primary-light-1:   #73368e;  // Primary Lighten 10%
$primary-light-2:   #8b49a7;  // Primary Lighten 20%

// SECONDARY COLOR
// ---------------------------------------------------
$secondary-base:    #1bcedf;  // Secondary Base
$secondary-light-1: #41d8e7;  // Secondary Lighten 10%
$secondary-light-2: #67e2ee;  // Secondary Lighten 20%

// DARK GREY COLOR
// ---------------------------------------------------
$dark-base-grey-1:#213547;
$dark-grey-base:    #333333;  // Dark Grey Base
$dark-grey-light-1: #4d4d4d;  // Dark Grey Lighten 10%
$dark-grey-light-2: #666666;  // Dark Grey Lighten 20%
// ===================================================

