// src/styles/utils/fonts.scss
@font-face {
    font-family: 'interim';
    src: url('../assets/fonts/Inter-variable.ttf') ;

  }
  
  @font-face {
    font-family: 'grapenut';
    src: url('../assets/fonts/PlaywriteCU-Regular.ttf') ; 
  }